<div id="individual-graph-title"
     style="font-weight: bold; color : black; background-color:white; padding-left: 50px; display: none">INDIVIDUAL
    GRAPHS
</div>
<div id="graph"></div>
<div class="modal" id ="formPopup">
    <div class = "modal-content ">
        <form class="col s6">
            <div class = "row">
                <label style = "font-size: 1.5rem; text-align: center;">Please provide information before starting data download.</label>
            </div>
            <div class = "row">
                <div class="input-field col s12">
                    <input placeholder="Name" id="name" type="text" class="validate" required = "" aria-required="true">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class = "row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" required = "" aria-required="true">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class = "row">
                <div class="input-field col s12">
                    <input id="institution" type="text" class="validate" required = "" aria-required="true">
                    <label for="institution">Institution/Observatory</label>
                </div>
            </div>
            <div class = "row">
                <div class="input-field col s12">
                    <input type="checkbox" id="agree-term" required = "" aria-required="true"/>
                    <label for="agree-term">I agree to WOVOdat Data Policy</label>
                </div>
            </div>
            <div class = "row">
                <div class="input-field col s12">
                    <a class="btn waves-effect waves-light submit-form">Submit</a>
                </div>
            </div>


        </form>
    </div>
</div>
<div class = "row">
    <div class="input-field col s12 " style = "" id = "token">

    </div>
</div>