.main {
  min-height: 900px;
}

.graph-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  background-color: #e3f2fd;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 2px;
  min-height: 36px;
  line-height: 120%;
  opacity: 100;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 4px);
  overflow: hidden;
  left: 0;
  top: 0;
  will-change: top, left;
}
div.overview-graph div.flot-text div.yAxis div.tickLabel
{    
    color: transparent;
    
}
div.eruption-forecasts-graph div.flot-text div.yAxis div.tickLabel
{    
    color: transparent;
    
}
label {
    font-size: 0.8rem;
    color: #9e9e9e
}