.loadingPanel{
    position:fixed;
    height:14px;
    width: 80px;
    top: 5px;
    left:47%;
    z-index:100;
    border: solid 1px #3A2680;
    color:white;
    padding:3px;
    font-weight: bold;
    font-size: 13px;
    text-align: center; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #B3B3FF 0%, #071FF5 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #B3B3FF 0%, #071FF5 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #B3B3FF 0%, #071FF5 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B3B3FF), color-stop(1, #071FF5));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #B3B3FF 0%, #071FF5 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #B3B3FF 0%, #071FF5 100%);
}
.equakeDisplayBox{
    border: 1px outset #C4C2C3;
    z-index: 3;
    width: 60px;
    height: 14px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
    font-size: 10px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C2C4C4 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C2C4C4 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #C2C4C4 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #C2C4C4));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C2C4C4 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #C2C4C4 100%);
}
.equakeDisplayBox:hover, .equakeDisplayButtonChecked:hover{
    border-color: #B0AEAF;
    cursor: pointer;
}
.equakeDisplayButtonChecked{
    border: 1px inset #E0DEDF;
    position: relative;
    z-index: 3;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D2D4D4 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D2D4D4 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D2D4D4 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D2D4D4));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D2D4D4 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D2D4D4 100%);
}
.equakeDisplayBox input {
    position: absolute;
    visibility: hidden;
}
.navigationBar #previousButton{
    background-image: url(/gif2/leftArror.png);

    height: 32px;
    width:32px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;      /* make the cursor like hovering over an <a> element*/

}
.navigationBar #nextButton{
    background-image: url(/gif2/rightArror.png); 
    height: 32px;
    width:32px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;      /* make the cursor like hovering over an <a> element*/
}

.navigationBar table td{
    text-align: center;
}
.ThreeDImage {
    text-align: center;
}
.ThreeDImage #title{
    font-weight: bold;
}


.FormFilter{
    margin-left: 8px;
    border: 1px solid #D6D5D5;
    padding: 7px 7px 7px 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.FormFilter div.pointer{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('/img/pointer.png');
    background-repeat: no-repeat;
    margin-top: -13px;
}
.FilterButton{
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: #4A4AC0;
    width: 80px;
}
.FilterButton:hover{
    text-decoration: underline;
    cursor: pointer;
}
.FilterBtnHolder{
    text-align: right;
    padding-right: 40px;
}
.FilterBtn{

    width: 60px;
}

.FormFilter .leftPanel{
    display: inline-block;
    width: 120px;
}
.FormFilter .rightPanel{
    display: inline-block;
    width: 300px;
}
.FormFilter .subrow table td{
    width: 150px;
}
.FormFilter .numberInput{
    width: 30px;
}
.FormFilter .dateInput{
    width: 72px;
}
.FormFilter .row{
    margin-bottom: 4px;
}
.FormFilter .subrow{
    margin-bottom: 4px;
}
.FormFilter input[type=text]{
    padding-left: 2px;
}
.FormFilter div{
    vertical-align: middle;
}
.equakeButtonsRow{
    margin-top: 6px;
    margin-left: 10px;
}
.threeDGMTFilter{
    border-top: 1px solid #D6D5D5;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
.FilterBtnHolder{
    border-top: 1px solid #D6D5D5;
    padding-top: 5px;
}
.earthquakeTooltip{
    background-color: white;
    width: 180px;
}

.twoDEquakeFlotGraph , .twoDGMTEquakeFlotGraph, .threeDGMTEquakeFlotGraph{
    display: none;
    border: 1px solid rgb(192, 191, 191);
    margin-top: 5px;
    padding-bottom: 15px;
    margin-left: 8px;
}
.twoDEquakeFlotGraph .pointer{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    margin-left: 30px;
    background-image: url('/img/pointer.png');
    background-repeat: no-repeat;
}

.twoDGMTEquakeFlotGraph .pointer{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    margin-left: 100px;
    background-image: url('/img/pointer.png');
    background-repeat: no-repeat;
}

.threeDGMTEquakeFlotGraph .pointer{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    margin-left: 170px;
    background-image: url('/img/pointer.png');
    background-repeat: no-repeat;
}
.threeDGMTEquakeFlotGraph .PrintButton,.twoDGMTEquakeFlotGraph .PrintButton {
    margin-top: 35px;
}
.threeDNavigationBar{

    position: absolute;

}
#previousButton{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/img/left.png');
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #C0BFBF;
    border-radius: 5px;
}
#showAnimation{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #C0BFBF;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background-image: url('/img/repeat.png');

}
#nextButton{
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url('/img/right.png');
    background-repeat: no-repeat;
    border: 1px solid #C0BFBF;
    border-radius: 5px;

}
.dataOwner:hover{
    text-decoration: underline;
}
.dataOwner:visited{
    color:blue;
}
.stationList{
    width: 100%;
}
.equakeGraphPlaceholder{
    width: 900px;
    height: 130px;
    font-size: 9px;
    margin-top: 15px;
    position: relative;
}

.viewStationPanel{
    height: 18px;
}
.timeSeriesList{
    width: 100%;
    padding-left: 15px;
}

.overviewPanel{
    width: 100%;
    padding-left: 15px;
    display:none;
}
#switchViewPanel{
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 11px;
}
.overviewGraph{
    width:85%;
    height:42px;
}

.showHideMarkerButton{
    display: none;
}
.volcanoPanel{
    width:960px;
    vertical-align: top;
    display: block;
}

#mapBar1,#mapBar2 {
    width:89%;
    margin-bottom:5px;
}
.VolcanoPanel{
    padding-left: 2em;
}
.separator{
    width: 2px;
}
.fixSwitch{       
    width: 475px;
    float: left;
    display:inline-block;
}
.flowElement{
    width: 960px;
    display: inline-block;
}
.switchViewButton:hover{
    cursor: pointer;
}

<!-- Tue added for visualization -->

.FormFilter div.pointer1{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left:370px;
    background-image: url('/img/pointer.png');
    background-repeat: no-repeat;
    margin-top: -13px;
}

.ShowHideFilterButton1{
    float:right;
    font-weight: bold;
    color: #4A4AC0;
    width: 80px;
}
.ShowHideFilterButton1:hover{
    text-decoration: underline;
    cursor: pointer;
}
<!-- Tue added for visualization -->

<!-- Anh added for CVGHM option c -->
#whole_div {
    padding:0px 0px 0px 5px;
}

.field_data {
    width:40%;  
    padding-left:90px;
}


.hidden_field_data {
    width:40%;  
    padding-left:90px;
    display:none;
}

.hidden_part {
    display:none;
}

.dropdown_list {
    width:180px;
}

.text_input {
    width:180px;
}
<!-- Anh added for CVGHM option c -->

<!-- Nhat added for padding bugs 17 June, 2015-->
.twoDEquakeFlotGraph, .twoDGMTEquakeFlotGraph, .threeDGMTEquakeFlotGraph {
  display: none;
  border: 1px solid rgb(192, 191, 191);
  margin-top: 5px;
  padding-bottom: 15px;
  margin-left: 8px;
}
.twoDEquakeFlotGraph .pointer {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: -6px;
  margin-left: 30px;
  background-image: url('/img/pointer.png');
  background-repeat: no-repeat;
}

.equakeGraphPlaceholder {
  width: 410px;
  height: 130px;
  font-size: 9px;
  margin-top: 15px;
  position: relative;
}