<div id="make-it-offline-dialog" class="modal">
	<div class="modal-content">
	  <h4>Downloading your volcano</h4>
	  Instruction: <br/>
	  <ul>
	  	<li>1. Extract files </li>
	  	<li>2. Run .bat file </li>
	  </ul>
	  <div class="progress">
	      <div id="progressbar" class="determinate" style="width: 0%"></div>
	  </div>
	  <div id="progress-detail" class="right-align">
	  	0%
	  </div>
	</div>
	<div class="modal-footer">
	  <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
	</div>
</div>