<nav>
    <div class="nav-wrapper light-blue darken-4">
      <form>
        <div class="input-field" >
          <input id="search" type="search" class="search" placeholder="Please search a volcano..." autocomplete="off" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
  <div class="search-sugesstion" data-activates='dropdown1'></div>
  <ul id='dropdown1' class='dropdown-content'>
  </ul>
<!-- <div id="volcano-select" class="card-panel"> -->

<div class="card-panel">
{{vd_name}}
</div>